
body {
  background-color: red;
}






header {
  background-color: #018ADA;
  padding: 0px;
  margin: 9.5px;
  width: 97vw;
  height: 250px;
  border: 10px solid rgb(238, 231, 231);
  border-radius: 100px;
  box-shadow: 7px 7px 30px black;
  
}


#titleHeader {
  display: flex;
  justify-content: center;;
  font-family: fantasy;
  color: yellow;
  font-size: 4.5em;
  -webkit-text-stroke: 2px black;
  text-shadow: 7px 7px 20px rgb(54, 4, 125) ;
  
}


.field {
  position: relative;
  width: 97vw;
  height: 69vh;
  padding: 0px;
  margin: 9.5px;
  background-color: green;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 4px 12px #0003;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}



#pokeball {
  position: absolute;
  width: 80px;
  height: 80px;
}

#pokemon-sprite {
  width: 200px;
  height: auto;
}